@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: rgb(0, 20, 113);
  --primary-dark: rgb(14, 26, 55);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-dark);
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

