/* Custom Slick Carousel Styles */
.slick-prev,
.slick-next {
  z-index: 1;
  width: 50px;
  height: 50px;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -60px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: rgb(0, 20, 113);
  opacity: 0.8;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}

.slick-dots {
  bottom: -50px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgb(0, 20, 113);
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: rgb(0, 20, 113);
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

